{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Faculty of Chemistry and Pharmacy, Sofia University</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="{% static 'images/logo2.png' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'lib/animate/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}">

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Template Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <style>
        #rules {
            max-width: 90%;
            margin: auto auto;
        }

        #rules {
            margin-top: 120px;
        }

        #rules p {
            color: #6c757d;
        }

        .img-hover-container {
            position: relative;
        }


        .img-hover-content {
            position: absolute;
            top: 75%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 3em;
            /* adjust as necessary */
            opacity: 0;
            transition: top 0.3s, opacity 0.3s;
        }

        .img-hover-content p {
            font-size: 0.5em;
            /* adjust as necessary */
            margin: 0;
            color: white !important;
        }

        .img-hover-container:hover .img-hover-content {
            top: 50%;
            opacity: 1;
        }

        .img-hover-container:hover img {
            filter: brightness(20%);
            transition: filter 0.3s;
        }

        .img-hover-container img {
            border: 5px solid #06A3DA;
            border-radius: 50%;
        }
        .btn-delete, .btn-edit {
            border-radius: 50%; /* Makes the button circular */
            width: 40px;        /* Adjust size as per requirement */
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .btn-delete {
            background-color: red;
            color: white;  /* Icon color */
        }
    
        .btn-edit {
            background-color: blue;
            color: white;  /* Icon color */
        }
        .btn-delete:hover{
            color:#06A3DA;
        }
        /* Increase icon size for larger buttons. This can be removed if it's too large. */
        .btn i.fa-lg {
            font-size: 1.5em;
        }

        .btn-edit, .btn-delete {
            margin: 15px; /* or whatever value you want */
        }
        

    </style>
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div>

    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0 sticky-top shadow-sm">
            <a href="/department" class="navbar-brand p-0">
                <h1 class="m-0" style="font-size: 30px;"><img src="{% static 'images/logo2.png' %}"> DCPE</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/department" class="nav-item nav-link">Сайт на персонала</a>
                    <div class="nav-item dropdown">
                        <a href="/department/resources.html" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Ресурси</a>
                        <div class="dropdown-menu m-0">
                            <a href="/department/rules" class="dropdown-item">Правила</a>
                            <a href="/department/online-tables" class="dropdown-item">Онлайн таблици</a>
                            <a href="/department/equipment-instructions" class="dropdown-item">Инструкции за работа с оборудването</a>
                            <a href="{% static 'rules/devices-and-premises.pdf' %}" class="dropdown-item" target="_blank">Отговорници на апарати и помещения</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="staff" class="nav-link dropdown-toggle"
                            data-bs-toggle="dropdown" style='color:#06A3DA;'>Персонал</a>
                        <div class="dropdown-menu m-0">
                            <a href="/department/staff#AFM" class="dropdown-item">AFM лаборатория</a>
                            <a href="/department/staff#CF" class="dropdown-item">CF лаборатория</a>
                            <a href="/department/staff#Technician" class="dropdown-item">Техници</a>
                            <a href="/department/staff#Students" class="dropdown-item">Студенти, включени в проекти</a>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href='/department/staff/{{ user.first_name }}%20{{ user.last_name }}' style='cursor: pointer;'>Акаунт</a>
                    {% else %}
                        <a class="nav-item nav-link" onclick="showLogin()" style='cursor: pointer;'>Вход</a>
                    {% endif %}
                    <a href="/bussiness" class="nav-item nav-link">Сайт на бизнеса</a>
                    <a href="/" class="nav-item nav-link">Сайт на студентите</a>
                    

                </div>
            </div>
        </nav>
    </div>

    <!-- Login Form  Start-->
    <div class="overlay" id='login'>
        <div class="form-container">
           <span class="closeBtn" onclick="hideLogin()" style="cursor:pointer;">&times;</span>
           <h2 style='text-align:center;'> Login </h2>
           <form enctype="multipart/form-data" class="scrollable-form" onsubmit="return validateLogin(event);" action="/department/login/" method="POST">
              {% csrf_token %}
              <div class="row g-3">
                 <div class="col-xl-12">
                    <input name="email-login" type="text" class="form-control bg-light border-0" placeholder="Служебен email" style="height: 55px; margin-top:10px;">
                 </div>
                 <div class="col-12">
                    <input name="password-login" type="password" class="form-control bg-light border-0" placeholder="Парола" style="height: 55px;">
                 </div>
                 <div class="col-12">
                    <input type="submit" value="Login" class="btn btn-primary py-md-2 px-md-5 me-3" style='width:200px;'>
                    <button type="button" onclick="hideLogin();showRegistration();" class="btn  btn-outline-deepblue py-md-2 px-md-5 me-3" style='width:200px;'>Registrate</button>
                 </div>
              </div>
           </form>
        </div>
    </div>
    <!-- Login Form  End-->

    <!-- Registration Form  Start-->
    <div class="overlay" id='registration'>
        <div class="form-container">
           <span class="closeBtn" onclick="hideRegistration()" style="cursor:pointer;">&times;</span>
           <h2 style='text-align:center;'> Registration </h2>
           <form enctype="multipart/form-data" class="scrollable-form" id="registrationForm" method='POST'>
              {% csrf_token %}
              <div class="row g-3">
                 <div class="col-xl-12">
                    <input name="name" type="text" class="form-control bg-light border-0" placeholder="Име на английски" style="height: 55px; margin-top:10px;">
                 </div>
                 <div class="col-xl-12">
                    <input name="email-register" id='email-register' type="text" class="form-control bg-light border-0" placeholder="Служебен email" style="height: 55px; margin-top:10px;">
                 </div>
                 <div class="col-12">
                    <input name="password-register" id='password-register' type="password" class="form-control bg-light border-0" placeholder="Парола" style="height: 55px;">
                 </div>
                 <div class="col-12">
                    <input name="repassword" type="password" class="form-control bg-light border-0" placeholder="Повторете Паролата" style="height: 55px;">
                 </div>
                 <div class="col-12">
                    <input type="button" value="Registrate" class="btn btn-primary py-md-2 px-md-5 me-3" style='width:200px;' onclick="validateAndRegister();">
                    <button type="button" onclick="hideRegistration();" class="btn  btn-outline-deepblue py-md-2 px-md-5 me-3" style='width:200px;'>Close</button>
                 </div>
              </div>
           </form>
        </div>
    </div>
    <!-- Registration Form  End-->


    <!-- Add Member Form  Start-->
    <div class="overlay" id='add-member'>
        <div class="form-container">
        <span class="closeBtn" onclick="hideForm()" style="cursor:pointer;">&times;</span>
        <h2 style='text-align:center;'> Добави член </h2>
        <form enctype="multipart/form-data" class="scrollable-form" onsubmit="return validateForm(event);" action="/department/add_member/" method="POST">
            {% csrf_token %}
            <div class="row g-3">
                <div class="col-xl-12">
                    <input name="name_in_latin" type="text" class="form-control bg-light border-0" placeholder="Име изписано на латинеца" style="height: 55px; margin-top:10px;">
                </div>
                <div class="col-12">
                    <input name="email" type="email" class="form-control bg-light border-0" placeholder="Служебен Email" style="height: 55px;">
                </div>
                <div class="col-12">
                    <select name = 'category' class="form-select bg-light border-0" style="height: 55px;">
                    <option selected="">Категория</option>
                    <option value="1">AFM лаборатория</option>
                    <option value="2">CF лаборатория</option>
                    <option value="3">Техник</option>
                    <option value="4">Студент, включен в проект</option>
                    </select>
                </div>
                <div id="researchInterestSection" class="col-12">
                    <div id="interestsContainer"></div>
                    <input type="hidden" id="research_interests" name="research_interests" value="">
                    <button type="button" class="form-control bg-light border-0" style="height: 55px; margin-left:8px;" onclick='addResearchInterest(event)'>Add research interest</button>
                    <p id="limitMessage" style="color: red; display: none;">Limit of 10 research interests reached!</p>
                </div>
                <div class="col-12">
                    <div class="file-dropzone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
                    <input name="profile_photo" type="file" id="fileInput" class="file-input" accept="image/*" onchange="displayFileName(event);">
                    <label for="fileInput" class="drag-drop-label bg-light border-0">Drag & Drop or <span class="choose-file">Click to Choose a Photo</span></label>
                    <span class="file-name">No file chosen</span>
                    </div>
                    <div class="image-container" style="display: none; justify-content: center; align-items: center; height: 150px; position: relative;">
                    <img id="imagePreview" src="" alt="Photo preview" style="max-width: 100px; max-height: 100px;">
                    <span class="change-text">Change</span>
                    </div>
                </div>
                <div class="col-xl-12">
                    <input name="short_cv" type="text" class="form-control bg-light border-0" placeholder="По желание - кратко CV" style="height: 55px;" >
                </div>
                <div class="col-xl-12">
                    <input name="full_cv" type="text" class="form-control bg-light border-0" placeholder="По желание - пълно научно CV/списък с публикации" style="height: 55px;" >
                </div>
                <div class="col-xl-12">
                    <input name="scopus" type="text" class="form-control bg-light border-0" placeholder="Scopus" style="height: 55px;" >
                </div>
                <div class="col-xl-12">
                    <input name="google_scholar" type="text" class="form-control bg-light border-0" placeholder="Google Scholar" style="height: 55px;" >
                </div>
                <div class="col-xl-12">
                    <input name="web_of_science" type="text" class="form-control bg-light border-0" placeholder="Web of Science" style="height: 55px;" >
                </div>
                <div class="col-xl-12">
                    <input name="orcid" type="text" class="form-control bg-light border-0" placeholder="ORCID" style="height: 55px;" >
                </div>
                <div class="col-12">
                    <textarea name="additional_info" class="form-control bg-light border-0" rows="3" placeholder="Друга информация, която бихте желали да има в личната Ви страница"></textarea>
                </div>
                <div class="col-12">
                    <input type="submit" value="Submit" class="btn btn-primary py-md-2 px-md-5 me-3" style='width:200px;'>
                    <button type="button" onclick="hideForm()" class="btn  btn-outline-deepblue py-md-2 px-md-5 me-3" style='width:200px;'>Close</button>
                </div>
            </div>
        </form>
        </div>
    </div>
    <!-- Add Member Form  END-->
    
    <!-- Staff Start -->
    <div class="col-lg-12" id="rules">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h1 class="mb-0" id='AFM'>Active Formulations and Materials Лаборатория</h1>
        </div>
        <div class="row g-5 text-center">
                {% for member in members %}
                    {% if member.category == 1 %}
                    <div class="col-md-3 wow slideInUp member-box" data-wow-delay="0.1s" style="position: relative;">
                        <!-- Delete Button (bin) - Top Right -->
                        {% if is_superstaff %}
                        <button class="btn position-absolute top-0 end-0 btn-delete" data-id="{{ member.id }}" onclick="deleteStaff(this)" style="z-index: 10;"> 
                            <i class="fas fa-trash-alt fa-lg"></i>
                        </button>
                        
                        <!-- Edit Button (pencil) - Top Left -->
                        <button class="btn position-absolute top-0 start-0 btn-edit" style="z-index: 10;">
                            <i class="fas fa-pencil-alt fa-lg"></i>
                        </button>
                        {% endif %}
                        <a href="/department/staff/{{ member.name }}" target="_blank"> <!-- Assuming you've a separate HTML page for each member using their id -->
                            <div class="rounded-circle overflow-hidden d-inline-block img-hover-container">
                                <img class="img-fluid" src="{{member.profile_photo.url}}" alt="" style="border-radius: 50%;"> <!-- Assuming you have a photo field in your Member model -->
                                <div class="img-hover-content text-center">
                                    <i class="fas fa-info"></i>
                                    <p class="mt-2">Научи още</p>
                                </div>
                            </div>
                            <h5 class="mt-2">{{ member.name }}</h5>
                            <p>{{ member.get_category_display }}</p> <!-- You can adjust the fields based on your Member model -->
                        </a>
                    </div>
                    {%endif%}
                {% endfor %}
            
            {% if is_superstaff %}
            <div class="col-md-3 wow slideInUp" data-wow-delay="0.1s" style="position: relative;">
                <a class="add-staff-link" onclick="showForm()">
                    <div class="rounded-circle overflow-hidden d-inline-block img-hover-container add-staff-button">
                        <img class="img-fluid" src="{% static 'images/add.jpg' %}" alt="Add Icon" style='cursor:pointer;'>
                        <div class="img-hover-content text-center">
                            <p class="mt-2">Добави нов</p>
                        </div>
                    </div>
                    <h5 class="mt-2">Добави нов член на персонала</h5>
                </a>
            </div>
            {% endif %}

        </div>
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h1 class="mb-0" id='CF'>Complex Fluids Лаборатория</h1>
        </div>
            {% for member in members %}
                {% if member.category == 2 %}
                    <div class="col-md-3 wow slideInUp" data-wow-delay="0.1s">
                        <a href="/department/staff/{{ member.name }}" target="_blank"> <!-- Assuming you've a separate HTML page for each member using their id -->
                            <div class="rounded-circle overflow-hidden d-inline-block img-hover-container">
                                <img class="img-fluid" src="{{member.profile_photo.url}}" alt="" style="border-radius: 50%;"> <!-- Assuming you have a photo field in your Member model -->
                                <div class="img-hover-content text-center">
                                    <i class="fas fa-info"></i>
                                    <p class="mt-2">Научи още</p>
                                </div>
                            </div>
                            <h5 class="mt-2">{{ member.name }}</h5>
                            <p>{{ member.get_category_display }}</p> <!-- You can adjust the fields based on your Member model -->
                        </a>
                    </div>
                {%endif%}
            {% endfor %}

            {% if is_superstaff %}
            <div class="col-md-3 wow slideInUp" data-wow-delay="0.1s" style="position: relative;">
                <a class="add-staff-link" onclick="showForm()">
                    <div class="rounded-circle overflow-hidden d-inline-block img-hover-container add-staff-button">
                        <img class="img-fluid" src="{% static 'images/add.jpg' %}" alt="Add Icon" style='cursor:pointer;'>
                        <div class="img-hover-content text-center">
                            <p class="mt-2">Добави нов</p>
                        </div>
                    </div>
                    <h5 class="mt-2">Добави нов член на персонала</h5>
                </a>
            </div>
            {% endif %}
            
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h1 class="mb-0" id='Technician'>Техници</h1>
        </div>
        <div class="row g-5 text-center">

            {% for member in members %}
                {% if member.category == 3 %}
                    <div class="col-md-3 wow slideInUp" data-wow-delay="0.1s">
                        <a href="/department/staff/{{ member.name }}" target="_blank"> <!-- Assuming you've a separate HTML page for each member using their id -->
                            <div class="rounded-circle overflow-hidden d-inline-block img-hover-container">
                                <img class="img-fluid" src="{{member.profile_photo.url}}" alt="" style="border-radius: 50%;"> <!-- Assuming you have a photo field in your Member model -->
                                <div class="img-hover-content text-center">
                                    <i class="fas fa-info"></i>
                                    <p class="mt-2">Научи още</p>
                                </div>
                            </div>
                            <h5 class="mt-2">{{ member.name }}</h5>
                            <p>{{ member.get_category_display }}</p> <!-- You can adjust the fields based on your Member model -->
                        </a>
                    </div>
                {%endif%}
            {% endfor %}

            {% if is_superstaff %}
            <div class="col-md-3 wow slideInUp" data-wow-delay="0.1s" style="position: relative;">
                <a class="add-staff-link" onclick="showForm()">
                    <div class="rounded-circle overflow-hidden d-inline-block img-hover-container add-staff-button">
                        <img class="img-fluid" src="{% static 'images/add.jpg' %}" alt="Add Icon" style='cursor:pointer;'>
                        <div class="img-hover-content text-center">
                            <p class="mt-2">Добави нов</p>
                        </div>
                    </div>
                    <h5 class="mt-2">Добави нов член на персонала</h5>
                </a>
            </div>
            {% endif %}

        </div>
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h1 class="mb-0" id='Students'>Студенти, включени в проекти</h1>
        </div>
        <div class="row g-5 text-center">

            {% for member in members %}
                {% if member.category == 4 %}
                    <div class="col-md-3 wow slideInUp" data-wow-delay="0.1s">
                        <a href="/department/staff/{{ member.name }}" target="_blank"> <!-- Assuming you've a separate HTML page for each member using their id -->
                            <div class="rounded-circle overflow-hidden d-inline-block img-hover-container">
                                <img class="img-fluid" src="{{member.profile_photo.url}}" alt="" style="border-radius: 50%;"> <!-- Assuming you have a photo field in your Member model -->
                                <div class="img-hover-content text-center">
                                    <i class="fas fa-info"></i>
                                    <p class="mt-2">Научи още</p>
                                </div>
                            </div>
                            <h5 class="mt-2">{{ member.name }}</h5>
                            <p>{{ member.get_category_display }}</p> <!-- You can adjust the fields based on your Member model -->
                        </a>
                    </div>
                {%endif%}
            {% endfor %}
            
            {% if is_superstaff %}
            <div class="col-md-3 wow slideInUp" data-wow-delay="0.1s" style="position: relative;">
                <a class="add-staff-link" onclick="showForm()">
                    <div class="rounded-circle overflow-hidden d-inline-block img-hover-container add-staff-button">
                        <img class="img-fluid" src="{% static 'images/add.jpg' %}" alt="Add Icon" style='cursor:pointer;'>
                        <div class="img-hover-content text-center">
                            <p class="mt-2">Добави нов</p>
                        </div>
                    </div>
                    <h5 class="mt-2">Добави нов член на персонала</h5>
                </a>
            </div>
            {% endif %}

        </div>
    </div>


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light mt-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-4 col-md-6 footer-about">
                    <div
                        class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-primary p-4">
                        <a href="/" class="navbar-brand">
                            <h1 class="m-0 text-white"><i class="fa fa-flask me-2"></i>DCPE</h1>
                        </a>
                        <p class="mt-3 mb-4">Pioneering progress at the intersection of chemical and
                            pharmaceutical
                            engineering. Committed to fostering innovation, research, and professional
                            growth.</p>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="row gx-5">
                        <div class="col-lg-4 col-md-12 pt-5 mb-5">
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h3 class="text-light mb-0">Contact</h3>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-geo-alt text-primary me-2"></i>
                                <p class="mb-0"><a href="https://goo.gl/maps/kgj6bvbXmDwYtUA38"
                                        style="text-decoration: underline; color: white;" target="_blank">Faculty of
                                        Chemistry and Pharmacy at the University of Sofia</a></p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-envelope-open text-primary me-2"></i>
                                <p class="mb-0">lcpe@lcpe.uni-sofia.bg</p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-telephone text-primary me-2"></i>
                                <p class="mb-0">+359 2 9625643</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h3 class="text-light mb-0">Quick Links</h3>
                            </div>
                            <div class="link-animated d-flex flex-column justify-content-start">
                                <a class="text-light mb-2" href="#"><i
                                        class="bi bi-arrow-right text-primary me-2"></i>Home</a>
                                <a class="text-light mb-2" href="#"><i
                                        class="bi bi-arrow-right text-primary me-2"></i>About Us</a>
                                <a class="text-light mb-2" href="#"><i
                                        class="bi bi-arrow-right text-primary me-2"></i>Our Programs</a>
                                <a class="text-light mb-2" href="#"><i
                                        class="bi bi-arrow-right text-primary me-2"></i>Meet Our Faculty</a>
                                <a class="text-light mb-2" href="#"><i
                                        class="bi bi-arrow-right text-primary me-2"></i>Research
                                    Opportunities</a>
                                <a class="text-light" href="#"><i
                                        class="bi bi-arrow-right text-primary me-2"></i>Contact Us</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h3 class="text-light mb-0">Student Resources</h3>
                            </div>
                            <div class="link-animated d-flex flex-column justify-content-start">
                                <a class="text-light mb-2" href="#"><i
                                        class="bi bi-arrow-right text-primary me-2"></i>Course Catalog</a>
                                <a class="text-light mb-2" href="#"><i
                                        class="bi bi-arrow-right text-primary me-2"></i>Academic
                                    Calendar</a>
                                <a class="text-light mb-2" href="#"><i
                                        class="bi bi-arrow-right text-primary me-2"></i>Student Services</a>

                                <a class="text-light" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Career
                                    Services</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-white" style="background: #061429;">
        <div class="container text-center">
            <div class="row justify-content-end">
                <div class="col-lg-8 col-md-6">
                    <div class="d-flex align-items-center justify-content-center" style="height: 75px;">
                        <p class="mb-0">&copy; <a class="text-white border-bottom" href="#">DCPE</a>. All
                            Rights Reserved.

                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed by <a class="text-white border-bottom" href="https://htmlcodex.com">HTML
                                Codex</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <!-- Template Javascript -->
    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'js/form.js'%}"></script>
    <script src="{% static 'js/login.js'%}"></script>
    <script src="{% static 'js/staff.js'%}"></script>
    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() > 45) {
                $('.navbar').addClass('sticky-top shadow-sm');
            } else {
                $('.navbar').addClass('sticky-top shadow-sm');
            }
        });
    </script>
    <!-- Custom JS-->
</body>

</html>